$primary-color: #f80;
$secondary-color: #f9f5f1;
$text-color: #333;
$error-color: #f54830;

$box-shadow: 2px 2px 10px 0 hsla(0, 0%, 50%, 0.4);

@mixin text-input-colors() {
  border-color: #cfcac4;
}

@mixin submit-button-colors() {
  color: #fff;
  border-color: #50aecc;
  background-color: #50aecc;

  &:hover,
  &:focus {
    background-color: #3595b4;
  }
  &:active {
    background-color: #3088a5;
  }
}
