@import "shared";

body {
  background-color: $secondary-color;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  margin: 15px;
  * {
    box-sizing: border-box;
  }
}

.app-title {
  color: $primary-color;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 15px 0;
}

.app-content {
  color: $text-color;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 500px;
  padding: 10px;
  margin: auto;
  border: 1px solid $secondary-color;
  box-shadow: $box-shadow;

  & > * {
    flex-grow: 1;
    width: 175px;
    margin: 5px;
  }
}
