@import "shared";

.lastMove-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.lastMove-title {
  font-size: inherit;
  margin: 0 0 10px;
}

.lastMove-equation {
  display: flex;
  align-items: center;
}

.lastMove-equationFraction {
  display: flex;
  flex-direction: column;
}

.lastMove-equationFractionTop {
  border-bottom: 1px solid $text-color;
}

.lastMove-equationFractionTopParenthesis,
.lastMove-equationFractionSlash {
  display: none;
}

.lastMove-equationEquals {
  margin: 0 10px;
}

$resultDiameter: 75px;
.lastMove-result {
  color: #fff;
  background-color: $primary-color;
  font-size: 26px;
  line-height: $resultDiameter;
  width: $resultDiameter;
  border-radius: 100%;
  box-shadow: $boxShadow;
}
