@import "shared";

.lastMove-content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.lastMove-title {
  font-size: inherit;
  margin: 0 0 10px;
}

.lastMove-result {
  $result-diameter: 75px;

  color: #fff;
  background-color: $primary-color;
  font-size: 26px;
  line-height: $result-diameter;
  width: $result-diameter;
  border-radius: 100%;
  box-shadow: $box-shadow;
}
